/* Globals */

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  --main-background: rgba(248, 248, 248, 0.808);
  --temp-background-color: rgba(100, 76, 168, 0.76);
  --off-white: rgba(240, 240, 240, 0.9);
  --video-background-color: rgba(230, 30, 45, 0.7);
}

/* Styles */

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

header,
section {
  grid-column: 1/4;
  margin-bottom: 40px;
}

.hero {
  background: url("../../assetts/banner-header-easter-cross-161188.jpeg") center/cover;
  height: 600px;
}

.logo {
  float: left;
  width: 300px;
  padding: 15px;
}

.logo img {
  width: 100%;
}

.menu {
  float: right;
  padding-right: 40px;
}

nav li {
  display: inline-block;
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: var(--off-white);
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  min-width: 80%;
  padding: 40px 0;
  margin-left: auto;
  margin-right: auto;
}

.featured-item {
  list-style: none;
  width: 400px;
  height: 360px;
  background: var(--temp-background-color);
}

section.video {
  background: var(--video-background-color);
  height: 400px;
}