/* Globals */

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  --main-bg-color: rgba(248, 248, 248, 0.808);
  --temp-bg-color: rgba(100, 76, 168, 0.76);
  --off-white: rgba(240, 240, 240, 0.9);
  --video-bg-color: rgba(230, 30, 45, 0.7);
  --footer-bg-color: rgba(51, 51, 51, 0.849);
}

/* Styles */

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

header,
section,
footer {
  grid-column: 1/4;
}

header {
  height: 500px;
}
section {
  margin-top: 40px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.bg-image {
  position: absolute;
  background: url('../../assetts/banner-header-easter-cross-161188.jpeg') center/cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  z-index: -1;
}

.logo {
  float: left;
  width: 300px;
  padding: 15px;
}

.logo img {
  width: 100%;
}

.menu {
  float: right;
  padding-right: 40px;
}

nav li {
  display: inline-block;
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: var(--off-white);
}

#features {
  padding: 1.5em;
}
#features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.featured-item {
  background: var(--temp-bg-color);
}

#video {
  background: var(--video-bg-color);
  height: 400px;
}

footer {
  background: var(--footer-bg-color);
  height: 400px;
}