/* Globals */

@-ms-viewport {
  width: device-width;
}

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  --bg-color: #d4dda6;
  --main-color: rgb(126, 40, 129);
  --temp-bg-color: rgba(100, 76, 168, 0.76);
  --grey: rgba(115, 115, 115, 0.84);
  --off-white: rgba(240, 240, 240, 0.9);
  --video-bg-color: rgba(195, 0, 98, 0.884);
  --footer-bg-color: rgba(0, 0, 0, 0.849);
}

body {
  background: #fff;
}

/* Styles */

header {
  height: 400px;
}

section {
  margin-top: 20px;
  padding: 2rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.bg-image {
  position: absolute;
  background: url('https://images.pexels.com/photos/161188/banner-header-easter-cross-161188.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center/cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  z-index: -1;
}

.logo {
  float: left;
  width: 250px;
  padding: 15px;
}

#menu-toggle {
  display: block;
  position: relative;
  float: right;
  margin: 1rem 0;
  padding: 0.5rem 0.75rem;
  line-height: 1.5;
  color: var(--main-color);
  background: var(--grey);
}

#menu-toggle:after {
  content: '\2630';
}

.menu {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

nav li {
  display: none;
  padding: 0.5rem;
}

nav a {
  padding: 0.5rem 2rem;
  text-decoration: none;
  color: var(--off-white);
}

nav li:hover {
  background: var(--off-white);
  width: 100%;
}

nav a:hover {
  color: var(--footer-bg-color);
}

#features {
  padding: 1.5em;
}

.card {
  margin: 0;
  background: var(--bg-color);
  -webkit-box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.4), -5px 5px 25px -5px rgba(0, 0, 0, 0.4), -5px -5px 25px -5px rgba(0, 0, 0, 0.4), 5px -5px 25px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.4), -5px 5px 25px -5px rgba(0, 0, 0, 0.4), -5px -5px 25px -5px rgba(0, 0, 0, 0.4), 5px -5px 25px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.4), -5px 5px 25px -5px rgba(0, 0, 0, 0.4), -5px -5px 25px -5px rgba(0, 0, 0, 0.4), 5px -5px 25px -5px rgba(0, 0, 0, 0.4);
  
}

.card-image:hover {
  opacity: 0.5;
}

#features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature-title {
  margin: 0.5rem 0;
  position: relative;
  /* border-bottom: 2px solid var(--grey); */
  line-height: 1.5;
}

#video {
  background: var(--video-bg-color);
}

.video-player {
  min-width: 200px;
  min-height: 200px;
}

#youtube-video {
  width: 100%;
  height: auto;
}

footer {
  background: var(--footer-bg-color);
  height: 400px;
}

/* Media Queries */

@media screen and (min-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  header,
  section,
  footer {
    grid-column: 1/4;
  }
  .menu {
    float: right;
    padding-right: 40px;
  }
  nav li {
    display: inline-block;
    padding: 5px;
  }
}